#text {
    margin-left: 150px;
}

#mySidenav a {
    position: absolute;
    left: -82px;
    transition: 0.5s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 5px;
}

#mySidenav a:hover {
    left: 0;
}

#green {
    top: 20px;
    background-color: #04AA6D;
}

#blue {
    top: 80px;
    background-color: #2196F3;
}

#red {
    top: 140px;
    background-color: #f44336;
}

#grey {
    top: 200px;
    background-color: #555
}